/* General body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    background-image: url('../image/backgroundimagemain.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden; /* 스크롤 막기 */
    zoom: 100%;
}

/* Navbar Styles */
.navbar {
    position: absolute;
    top: 15px;
    right: 150px;
    background-color: #A41034;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

.nav-item {
    text-align: center;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #ffffff;
    color: #800000;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Main container styling */
.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
    width: 1200px; 
    margin: 50px auto; 
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid #ddd;
}

/* Profile card styling */
.profile-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 1px solid #ddd;
    text-align: left;
    height: 250px; 
    overflow: hidden; 
}

.profile-card h2 {
    margin-top: 0;
    color: #333;
    font-size: 1.2em; 
}

.profile-card p {
    margin-bottom: 0;
    color: #555;
    font-size: 0.9em; 
}

/* Headings */
h2, h3 {
    color: #2c3e50;
    margin-bottom: 15px;
}

h2 {
    border-bottom: 2px solid #3498db;
    padding-bottom: 5px;
}

/* Paragraphs */
p {
    margin-bottom: 15px;
}

/* Lists */
ul, ol {
    margin: 10px 0 20px 20px;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

/* Links */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Section for each individual */
.individual-section {
    margin-bottom: 30px;
}

/* Bold labels */
label {
    font-weight: bold;
    color: #002147;
}
